@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.talk{
  margin-right:65px;
  padding:8px 22px;
  font-size:14px;
  border-radius:8px;
  border:none;
  font-weight:bold;
  color:white;
  background-color:#00A9FF;
  transition: all 0.5s ease ;
}
.talk:hover{
  color:white;
  background-color:#D10363;
  font-size:18px;
}

.text{
  margin:10px;
  font-size:22px;
  font-weight:bold;
  color:rgb(99,99,99);
  transition: all 0.5s ease ;
}
.text:hover{
  font-size:24px;
  color:#D10363;
  text-decoration:underline;
}
.peter{
  color:#00A9FF;
}

.text-header{
  display:flex;
  justify-content:space-evenly;
  width:700px;
}

.intro-self{
  margin-left:30px;
  width:550px;
  margin-top:200px;
}

.intro{
  display:flex;
  justify-content:flex-start;
  font-size:32px;
  font-weight:bold;
  color:rgb(99,99,99);
}
.priyanshu{
  color:#00A9FF;
  margin-left:5px;
  transition: all 0.5s ease ;
}
.priyanshu:hover{
  color:#D10363;
  font-size:34px;
  text-decoration:underline;
}
.position-first{
  display:flex;
  justify-content:flex-start;
  font-size:22px;
  font-weight:400;
  margin-bottom:15px;
  margin-top:8px;
  color:rgb(99,99,99);
  cursor:pointer;
}
.position-first:hover{
  font-weight:bold;
  color:#D10363;
  text-decoration:underline;
}

.intro-text{
  font-size:16px;
  color:rgb(99,99,99);
  margin-bottom:25px;
}

.intro-buttons{
  display:flex;
  align-items:center;

}
.bb{
  padding:8px 16px;
  font-size:16px;
  border-radius:8px;
  margin-right:25px;
  border-style:solid;
  border-color:#00A9FF;
  background-color:white;
  color:#00A9FF;
  transition: all 0.5s ease ;
  margin-bottom:100px;
}
.bb:hover{
  color:white;
  background-color:#D10363;
  border-color:#D10363;
  padding: 12px 22px;
}
.section-one{
  position:relative;
  height:950px;
  background-color:#FBF0B2;
}
.profile-photo{
  display:flex;
  align-items:center;
  width:600px;
  height:800px;
  position:absolute;
  top:50px;
  right:250px;
  justify-content:center;
}
.image{
  height:100%;
  object-fit:cover;
  filter:drop-shadow(1px 1px 20px black)
}
.icons-text{
  display:flex;
  align-items:center;
  padding-left:30px;
}
.link{
  font-size:22px;
  background-color:#00A9FF;
  border-radius:50%;
  padding:4px;
  display:flex;
  align-items:center;
  text-decoration:none;
  margin-right:15px;
  color:white;
  transition: all 0.5s ease ;
}
.link:hover{
  font-size:30px;

}