@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  
}

.header{
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 margin-top:25px;
 margin-left:20px;
}

.head{
  margin-right:40px;
  font-size:18px;
  font-weight:bold;
  color:rgb(89, 88, 88);
  margin-left:10px;
  transition: all 0.5s ease ;
}
.head:hover{
  color:#3572EF;
  text-decoration:underline;
}


.single-name{
  font-weight:bolder;
  font-size:22px;
  color:#D10363
}

.single-name:hover{
  font-weight:800;
  color:#3572EF;
}

.button{
  display:flex;
  align-items:center;
}
.talk{
  padding:8px 26px;
  font-size:16px;
  border-radius:8px;
  border:none;
  color:white;
  background-color:#D10363;
  font-weight:bold;
  margin-right:40px;
  transition: all 0.5s ease ;
}
.talk:hover{
  background-color:#3572EF;
}

.main{
  margin-top:200px;
  display:flex;
  flex-direction:column;
  margin-left:80px;
}
.info-data{
  font-size:32px;
  font-weight:bold;
  color:rgb(89, 88, 88);
}
.singh{
  color:#D10363;
  transition: all 0.5s ease;
}
.singh:hover{
  color:#3572EF;
  text-decoration:underline;
}
.job{
  color:rgb(89, 88, 88);
  font-size:24px;
  font-weight:bold;
  
}
.job:hover{
  color:#3572EF;
  cursor:pointer;
}

.self-intro{
  display:flex;
  width:300px;
}

.self-intro{
  color:rgb(89, 88, 88);
  font-size:14px;
  margin-top:10px;
  margin-bottom:25px;
}

.button-icon{
 display:flex;
 align-items:center;
}
.butt{
  padding:8px 24px;
  margin:0px 15px;
  font-size:14px;
  border-radius:6px;
  color:#D10363;
  border-color:#D10363;
  border-style:solid;
  border-width:2px;
  background-color:white;
  transition: all 0.5s ease;
}
.butt:hover{
  color:white;
  background-color:#D10363;
}